<html>
    <body>
        <div class="errors">
            <% if(errors)  {%>
                <ul>
                    <% for (i in errors) { %>
                    <li><%=errors[i].param%> - <%=errors[i].msg%></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
        <form action="/products" method="post">
            <div>
                <label for="title">Title</label>
                <input id="title" type="text" name="title" value="<%=book.title%>" placeholder="book's title">
            </div>
            <div>
                <label for="price">Price</label>
                <input id="price" type="text" name="price"  value="<%=book.price%>" placeholder="book's price">
            </div>
            <div>
                <label for="description">Description</label>
                <textarea id="description" cols="20" rows="10" type="text" name="description" placeholder="book's description"><%=book.description%></textarea>
            </div>
            <div>
                <input type="submit" value="save" />
            </div>
        </form>
    </body>
</html>