<html>
<body>
    <table border="1">
        <tr>
            <td>id</td>
            <td>title</td>
            <td>description</td>
            <td>price</td>
            <td>action</td>
        </tr>
        <%  for (item in books) { %>
        <tr>
            <td><%=books[item].id %></td>
            <td><%=books[item].title%></td>
            <td><%=books[item].description%></td>
            <td><%=books[item].price%></td>
            <td>
                <form method="POST" action="/product/<%=books[item].id%>?_method=DELETE">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        <% } %>
    </table>    

    <a href="/products/form">add</a>

</body>
</html>  